@page "/"

<section class="maincontent">
    <h1>Welcome to the Library</h1>

    Select one of the Menu Options to begin
</section>

<style>
    
    .maincontent {
        margin: auto;
    }
</style>
